@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#5a47ce, #232323 80%);
}

/* App.css hoặc index.css */
body {
  background:
    radial-gradient(circle at center, rgba(139, 0, 0, 0.9) 30%, rgba(40, 0, 0, 1) 100%),
    url('/assets/images/history-vietnam-bg.jpeg') center/cover no-repeat;
  background-blend-mode: overlay;
  color: white;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, rgba(255, 215, 0, 0.2), transparent 70%);
  pointer-events: none;
}


.outline-text {
  -webkit-text-stroke: 1px white;
}

@keyframes slowPan {
  0% { background-position: center; }
  50% { background-position: center 10%; }
  100% { background-position: center; }
}

.animate-slow-pan {
  animation: slowPan 30s ease-in-out infinite;
}
